torch>=2.1.0
transformers>=4.39.0
accelerate>=0.27.0
pydantic>=2.6.0
pydantic-settings>=2.0
runpod>=1.6.2
pytest>=8.2.0
sentence-transformers>=2.2.2
hf_transfer>=0.1.6
langchain>=0.3.27
langchain-community>=0.3.31
langchain-core>=0.3.79
langchain-text-splitters>=0.3.11
chromadb==1.1.1
jq==1.10.0